@import url('https://fonts.googleapis.com/css2?family=Abel&family=Chivo&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* header */
header {
  padding-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: #aaa;
  font-size: 14px;
  font-family: sans-serif;
  padding-right: 25px;
}

/* banner */
.banner {
  margin-top: 100px;
  background-image: url("../imgs/banner.png");
  color: #fff;
  height: 613px;
  text-align: center;
  padding-top: 250px;
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.banner h2, .banner2 h2 {
  font-size: 48px;
  line-height: 58px;
}
.banner p, .banner2 p {
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.206;
  text-transform: uppercase;
}
.banner2 {
  background-image: url("../imgs/banner2.png");
  height: 528px;
  font-family: "Chivo", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 215px;
  margin-top: 30px;
}


/* collections */
.collections {
  display: flex;
  justify-content: space-between;
  height: 442px;
  margin-top: 30px;
}
.collection {
  width: 48%;
  text-align: center;
  color: #fff;
  font-family: "Chivo", sans-serif;
  padding-top: 180px;
}
.sand {
  background-image: url("../imgs/collection2.png");
  background-size: cover;
}
.sand h3, .chanvre h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
}
.sand p, .chanvre p {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.chanvre {
  background-image: url("../imgs/collection.png");
  background-size: cover;
}


/* features */
.features {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  height: 282px;
}
.feature {
  width: 32%;
  text-align: center;
  color: #fff;
  font-family: "Chivo", sans-serif;
  padding-top: 115px;
}
.box1 {
  background-image: url("../imgs/exposition.png");
  background-size: cover;
}
.box2 {
  background-image: url("../imgs/exposition2.png");
  background-size: cover;
}
.box3 {
  background-image: url("../imgs/exposition3.png")
}
.feature h4 {
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
}
.feature p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13;
  font-style: normal;
  font-weight: 400;
}


/* footer */
footer {
  margin-top: 100px;
  text-align: center;
}
.black-square__box {
  display: flex;
  justify-content: center;
}
.black-square {
  width: 36px;
  height: 36px;
  background-color: #000;
  margin: 5px;
}
.copy-right p{
  font-family: "Abel", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #333;
  font-style: normal;
  font-weight: 400;
}