@import url('https://fonts.googleapis.com/css2?family=Abel&family=Chivo&display=swap');
.exp, .col, .banner, .vanneries {
  font-style: normal;
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
}
body {
  
  box-sizing: border-box;
}
header {
  padding: 25px;
}
.nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: #AAAAAA;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 14px;
  font-family: "Century Gothic", sans-serif;
}
.banner {
  height: 613px;
  background-image: url("../imgs/banner.png");
  color: #fff;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  padding-top: 260px;
}
.banner h2, .vanneries h2{
  font-size: 48px;
  line-height: 58px;
}
.banner p, .vanneries p {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.2;
  line-height: 31px;
}

/* vanneries */
.vanneries {
  background-image: url("../imgs/banner2.png");
  height: 528px;
  text-align: center;
  padding-top: 224px;
  color: #fff;
}

/* Collections */ 
.collections > .row{
  height: 442px;
}
.box {
  height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  background-size: cover;
  background-repeat: no-repeat;
}
.box1 {
  background-image: url("../imgs/collection2.png");
  margin-right: 20px;
}
.box2 {
  background-image: url("../imgs/collection.png");
}
.col h3 {
  font-size: 23px;
  line-height: 28px;
}
.col p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.13;
}

/* Correspondances1 */

.exp {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 282px;
  padding-top: 120px;
}
.exp1 {
  background-image: url("../imgs/exposition.png");
}
.exp2 {
  background-image: url("../imgs/exposition2.png");
}
.exp3 {
  background-image: url("../imgs/exposition3.png");
}
.exp h4 {
  font-size: 15px;
  line-height: 18px;
}
.exp p {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13;
  text-transform: uppercase;
}

/* footer */
footer {
  text-align: center;
}
.black-square {
  background-color: #000;
  width: 36px;
  height: 36px;
  margin: 10px;
  display: inline-block;
}

footer p {
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-family: "Abel", sans-serif;
}